## üìä Overview: Fetching Top Rated Movies from TMDB API

### üîç Objective

The goal of this project is to collect and organize data about the top-rated movies from **The Movie Database (TMDB)** using their public API. This dataset will be useful for analyzing popular movies based on various metrics like ratings, vote counts, popularity, and release dates.

### üõ†Ô∏è Approach

1. **API Request Loop**
   We loop through multiple pages of the TMDB API's *Top Rated Movies* endpoint to collect comprehensive data.

2. **Data Extraction**
   From each API response, we extract key movie attributes such as:

   * `id`
   * `title`
   * `overview`
   * `release_date`
   * `popularity`
   * `vote_average`
   * `vote_count`

3. **Data Accumulation**
   The extracted data from each page is temporarily stored and then added to a master dataset. We avoid using deprecated functions like `.append()` and instead follow best practices for merging data efficiently.

4. **Final Dataset**
   After fetching all pages, we obtain a clean, structured DataFrame containing details of hundreds of top-rated movies ready for further analysis or visualization.

In [22]:
import pandas as pd
import requests

In [23]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [24]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [25]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.2820,8.700,28497
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,25.3770,8.687,21581
2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",2025-06-20,258.7065,8.609,372
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,13.5352,8.571,13037
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,13.0967,8.565,16515

In [26]:
df = pd.DataFrame()

In [27]:
df

Empty DataFrame
Columns: []
Index: []

In [28]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    # df = df.append(temp_df,ignore_index=True)
    df = pd.concat([df, temp_df], ignore_index=True)

In [ ]:
df

In [22]:
df.shape

(8551, 7)

In [23]:
df.to_csv('moviesData.csv')